APP_NAME=Ecommerce
NEXT_PUBLIC_APP_NAME="${APP_NAME}"
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/auth
NEXT_PUBLIC_CSRF_COOKIE_URL=http://localhost:8000/sanctum/csrf-cookie
AUTH_PROXY_API_BASE_URL=http://localhost:8000/api/auth
NEXT_PUBLIC_REVERB_APP_KEY=local-key
NEXT_PUBLIC_REVERB_HOST=127.0.0.1
NEXT_PUBLIC_REVERB_PORT=8080
NEXT_PUBLIC_REVERB_SCHEME=http
